<div class="result">
    <%- include('header')-%>

    <h1>Result</h1><br><br>
    <h2>The Climate now in <%=four%> seems to : <%=one%></h2>
    <h2>The Temparature of the  <%=four%>  is : <%=two%> °C</h2>
    
<img src="<%=three%>" alt="no-img">
    
<%- include('footer')-%>
</div>