
    <%- include('header')-%>

    <h1>Result</h1><br><br>
    <h2>The Condition in the <%=four%> seems to be : <%=one%> °C</h2>
    <h2>The Temparature of the  <%=four%>  is : <%=two%></h2>
    
<img src="<%=three%>" alt="no-img">
    
<%- include('footer')-%>
